<app-sidebar></app-sidebar>
<app-my-profile-header></app-my-profile-header>
<div class="background-image">
    <div class="informations-container">
        <div class="profile-image-container">
            <img [src]="imageSrc" alt="profile-img">
            <label class="edit-icon" for="profile-image-upload">
                <i class="fa fa-pencil"></i>
            </label>
            <input type="file" id="profile-image-upload" (change)="onImageChange($event)" accept=".jpg">
        </div>

        <div class="account-info">
            <div *ngIf="errorsValidation" class="text-danger"> {{ errorsValidation}}</div>
            <h2>Informações da Conta</h2>
            <div class="informations">
                <label>Nome do usuário</label>
                <input type="text" [placeholder]="userResponseDTO.username || 'Digite seu nome de usuário'" [(ngModel)]="this.requestUpdateUserInformationDTO.username" (blur)="updateUserInformations()">
            </div>

            <div class="informations">
                <label>E-mail</label>
                <input type="email" [placeholder]="userResponseDTO.email || 'Digite seu e-mail'" [(ngModel)]="this.requestUpdateUserInformationDTO.email" (blur)="updateUserInformations()">
            </div>

            <div class="informations">
                <label>Nome completo</label>
                <input type="text" [placeholder]="userResponseDTO.name || 'Digite seu nome completo'" [(ngModel)]="this.requestUpdateUserInformationDTO.name" (blur)="updateUserInformations()">
            </div>

            <div class="informations">
                <label>Data de nascimento</label>
                <input type="date" [placeholder]="userResponseDTO.birthDate || 'Selecione sua data de nascimento'" [(ngModel)]="this.requestUpdateUserInformationDTO.birthDate" (blur)="updateUserInformations()">
            </div>

            <div class="informations full-width">
                <label>Descrição</label>
                <input type="text" id="description" placeholder="Digite uma descrição" [(ngModel)]="this.requestUpdateUserInformationDTO.description" (blur)="updateUserInformations()">
            </div>
        </div>

        <div class="social-medias">
            <h2>Minhas Redes Sociais</h2>
            <div class="midia" *ngFor="let media of socialMediaList">
                <label>{{ media.name }}</label>
                <input 
                    type="text" 
                    [(ngModel)]="socialLinksHash[media.id]" 
                    (input)="updateSocialLink(media.id, $event)" 
                    (blur)="updateSocialMedia(media.id)" 
                    [placeholder]="getSocialMediaPlaceholder(media.id)">
            </div>
        </div>

        <div class="configurations">
            <h2>Minhas Configurações</h2>
            <div class="config">
                <label>Mouse</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(1)}}" [(ngModel)]="CONFIGURATION_MAP[1]" (blur)="updateConfiguration(1)">
            </div>

            <div class="config">
                <label>Sensibilidade DPI</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(3)}}" [(ngModel)]="CONFIGURATION_MAP[3]"(blur)="updateConfiguration(3)">
            </div>

            <div class="config">
                <label>Teclado</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(2)}}" [(ngModel)]="CONFIGURATION_MAP[2]"(blur)="updateConfiguration(2)">
            </div>

            <div class="config">    
                <label>Fone</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(4)}}" [(ngModel)]="CONFIGURATION_MAP[4]" (blur)="updateConfiguration(4)">
            </div>

            <div class="config">
                <label>Monitor</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(6)}}" [(ngModel)]="CONFIGURATION_MAP[6]" (blur)="updateConfiguration(6)">
            </div>

            <div class="config">
                <label>Resolução</label>
                <input type="text" placeholder="{{getUserConfigurationlaceholder(5)}}" [(ngModel)]="CONFIGURATION_MAP[5]" (blur)="updateConfiguration(5)">
            </div>
        </div>
    </div>
</div>
