<div class="sidebar">
  <div class="sidebar-header">
    <img
      src="assets/img/logo_stunbet.png"
      alt="Logo"
      style="margin-top: 15px; width: 200px; height: auto"
    />
  </div>
  <nav class="sidebar-nav">
    <ul>
      <button
        class="stun-match"
        [routerLink]="['/home']"
        [ngClass]="{ 'active-button': isActive('/home') }"
      >
        <img src="assets/img/play.png" alt="Ícone Stun Match" />
        <span>Stun Match</span>
      </button>
      <button
        class="btn-options"
        id="store"
        [routerLink]="['/store']"
        [ngClass]="{ 'active-button': isActive('/store') }"
      >
        <img src="assets/img/shopping-cart.png" alt="Ícone Loja" />
        <span>Loja</span>
      </button>
      <button
        class="btn-options-ranking"
        [routerLink]="['/ranking']"
        [ngClass]="{ 'active-button': isActive('/ranking') }"
      >
        <img src="assets/img/badge.png" alt="Ícone Ranking" />
        <span>Ranking</span>
      </button>
      <button
        class="btn-options-championship"
        [routerLink]="['/championship']"
        [ngClass]="{ 'active-button': isActive('/championship') }"
      >
        <img src="assets/img/Vector.png" alt="Ícone Campeonatos" />
        <span>Campeonatos</span>
      </button>
    </ul>
  </nav>

  <div class="container-sidebar-footer" [routerLink]="['/my-profile']">
    <div class="image-profile">
      <img src="{{ imageSrc }}" alt="Imagem de perfil" />
      <div class="name">
        <label>{{ name.split(" ")[0] }} ({{ username }})</label>
      </div>
    </div>
    <div class="sidebar-footer-coins">
      <p class="points">{{ points | number : "1.3" }}</p>
      <img src="assets/img/Stun-coin.png" alt="Stun Coin" />
    </div>
  </div>

  <main class="main-content"></main>
</div>
