.bg-img {
    background-image: url("https://i.ibb.co/NtXJWKW/background.png");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.winner-match-container {
    text-align: center;
}

.match-finished {
    animation: fadeInUp 1s forwards;
}

.winner-team {
    animation: fadeInUp 1s forwards;
    animation-delay: 3s; /* Atraso de 3 segundos */
    opacity: 0; /* Iniciar invisível */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
